@inherits LayoutComponentBase
@using BaseLibrary.DTOs
@using ClientLibrary.Helpers
@using Microsoft.AspNetCore.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager NavManager
@attribute [Authorize]
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a> *@
            @* <AuthorizeView>
                <Authorized>
                    <a class="btn btn-none text-danger" @onclick="LogoutClicked">Logout</a>
                </Authorized>
                <NotAuthorized>

                </NotAuthorized>
            </AuthorizeView> *@
            <ProfileDropDown></ProfileDropDown>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider />

@code{
    async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}
