@using Syncfusion.Blazor.Buttons
@using Syncfusion.Blazor.Popups
@inject SfDialogService dialogService

<SfDialog Width="350px" IsModal="true" ShowCloseIcon="true" @bind-Visible="IsVisible">
    <DialogEvents OnOpen="OpenDialog"></DialogEvents>

    <DialogTemplates>
        <Header>Update User</Header>
        <Content>
            <EditForm Model="ManageUser" Enhance OnSubmit="Save">
                <div class="card border-success">
                    <div class="card-body">
                        <div class="form-group">
                            <label class="form-label">Name</label>
                            <imput @bind="ManageUser.Name" class="form-content" disabled />
                        </div>
                        <div class="form-group">
                            <label class="form-label">Email</label>
                            <imput @bind="ManageUser.Email" class="form-content" disabled />
                        </div>
                        <div class="form-group mt-3 mb-3">
                            <label class="form-label">Select Role</label>
                            @if (string.IsNullOrEmpty(ManageUser.Role))
                            {
                                string selected = ManageUser.Role;
                                <SfDropDownList TValue="string" TItem="SystemRole" Placeholder="@selected" DataSource="SystemRoles">
                                    <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="SystemRole" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                            else
                            {
                                <SfDropDownList TValue="string" TItem="SystemRole" Placeholder="Select Role" DataSource="SystemRoles">
                                    <DropDownListFieldSettings Value="Name" Text="Name"></DropDownListFieldSettings>
                                    <DropDownListEvents TValue="string" TItem="SystemRole" ValueChange="OnValueChange"></DropDownListEvents>
                                </SfDropDownList>
                            }
                        </div>
                    </div>
                </div>
            </EditForm>
        </Content>
    </DialogTemplates>

    <DialogButtons>
        <DialogButton Content="SAVE" Type="ButtonType.Submit" IsPrimary="true" OnClick="Save" />
    </DialogButtons>
</SfDialog>

@code {
    // 做為這個component的標籤屬性, 可以傳遞其他component的欄位或方法進來
    // 如 其他component中加入 <此component generalDepartment="其他component的同類別欄位名" />
    // generalDepartment將會被指派由其他component傳遞來的值
    [Parameter] public ManageUser ManageUser { get; set; } = new();
    [Parameter] public List<SystemRole> SystemRoles { get; set; } = new();
    [Parameter] public EventCallback<ManageUser> HandleSaveOperationEvent { get; set; }
    private bool IsVisible { get; set; } = false;
    public void OpenDialog()
    {
        IsVisible = true;
        StateHasChanged();
    }

    async void Save()
    {
        if (string.IsNullOrEmpty(ManageUser.Name) || string.IsNullOrEmpty(ManageUser.Role))
            await dialogService.AlertAsync("You need to provide Department name.", "Alert!");
        else
            await HandleSaveOperationEvent.InvokeAsync(ManageUser);
    }

    public void OnValueChange(ChangeEventArgs<string, SystemRole> args)
    {
        ManageUser.Role = args.Value.ToString();
    }
}